@tailwind base;
@tailwind components;
@tailwind utilities;

/* Subtle scrollbar hiding for horizontal containers (used for tabs) */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
